/* *{

    margin: 0;
    padding: 0;
} */
body{

    padding: 2%;
    flex-wrap: wrap;
    
}
header{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header img{

width: 200px;
}

header input{
height: 30px;
flex-basis: 300px;
flex-grow: 2;
}
.leftlink{
    display: flex;
    flex-basis: 300px;
    /* background-color: blanchedalmond; */
    justify-content: center;
    }
.rightlink{
    flex-basis: 300px;
    
}
.account-link{
    /* background-color: lightpink; */
    flex-basis: 250px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}
.aside{

    flex-basis: 250px; 
    /* background-color:rgb(173, 156, 123); */
    /* padding: 50px; */
    flex-grow: 0.5;
    /* height: 700px; */

}

.aside p,h3{

    margin-left: 30px;
}
 .aside>p{

    border-bottom: 1px solid black;
}

 .aside ul li{
list-style-image: url();

 }

 .aside ul a{

    display: flex;
    flex-direction: column;
 }


.mainbody{
display: flex;
/* background-color: antiquewhite; */
/* flex-grow: 10; */
flex-wrap: wrap;
justify-content: center;

}



.heading{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}


.combinebody{

    flex-basis: 600px;
    flex-grow: 1;
    /* background-color: blueviolet; */
}

 .nav{
    padding: 10px;
display: flex;
height: 100px;
    justify-content: space-between;
border-bottom: 1px solid black;
flex-wrap: wrap;
justify-content: center;
 }


a{

    padding: 5px;
}

.red1{

    color: black;
}

.tools1{

    color: black;
}

.sub-body{

display: flex;
flex-basis: 650px;
flex-wrap:wrap ;
justify-content: center;

}

.sub-artical{

    justify-content: space-between;
    display: flex;
}
.sub-artical img{

height: 30px;
padding: 0px;
}
.text{

    /* background-color: antiquewhite; */
    flex-basis: 300px;
    flex-grow: 3;
    text-align: justify;
    margin: 10px;
    flex-shrink: 1;
}

.artical-details{
    text-align: center;
    margin:1% ;
    padding: 1%;
    flex-basis: 300px;
}
.details{

    /* background-color: aquamarine; */
    border: 1px solid black;
    flex-basis: 50px;
    /* flex-grow: 0; */
}
.details p{
    display: flex;
    justify-content: center;
    margin-top: -5px;
    font-size: 15px;
}
.details img{

    width: 250px;
    margin: 5px 30px;
}
.details h4{

    background-color: rgb(3, 136, 92);
    text-align: center;
}
.personal-details{

    display: flex;
    

}
.personal-details ul li{

    list-style: none;
    justify-content: center;

}
.left-details{

    text-align: left;
    
}
.right-details{

    text-align: left;
}
/* @media screen and (max-width:1000px) {
 h1{
    
    color:red;}  
    h3{

        color:green;
    }
    .aside{

    background-color: aqua;
    }
    ul a{

        text-decoration: none;
        color: brown;
    }
} */